@import "compass/css3";
@import "compass/utilities";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:300;
	letter-spacing:1.2px;
	background:#f5f5f5;
	@include text-shadow(0 1px 1px #fff);
	background:url(../img/bg.png) repeat;
}

.app {
	margin:0 auto;
	.header {
		margin:50px 0 35px;
		position:relative;
		.title {
			text-transform:uppercase;
			a {
				float:left;
				margin:0 20px 0 0;
				&:active {
					position:relative;
					top:1px;
				}
			}
			h1 {
				font-weight:300;
				color:#232323;
				font-size:38px;
				margin-bottom:0;
				margin-top:10px;
			}
			h3 {
				font-weight:200;
				color:#4d4d4d;
				font-size:22px;
				margin-top:2px;
				position: relative;
				left: 1px;
			}
		}
		.social {
			min-width:117px;
			position: absolute;
			right: 0;
			bottom:0;
			a {
				border:1px solid #3a3a3a;
				padding:1px 4px 5px;
				height: 16px;
				width: 16px;
				float:right;
				margin-left:6px;
				@include border-radius(12px);
				&:hover {
					background:#eaeaea;
				}
				&:active {
					position:relative;
					top:1px;
				}
				img {
					position: relative;
					top: -2px;
				}
			}
		}
	}
	.menu {
		border-top:1px solid #929292;
		.nav {
			border:none;
			a {
				color:#4a4a4a;
				font-size:17px;
				text-transform:uppercase;
				&:hover {
					background:#f5f5f5;
					border:none;
					padding:9px 13px 8px;
					text-decoration:underline;
					color:#000;
				}
				&.active {
					font-weight:700;
					position:relative;
					top:1px;
				}
			}
		}
		.back {
			color:#4a4a4a;
			font-size: 16px;
			position: relative;
			top: 10px;
			left: 10px;
			&:active {
				top:11px;
			}
		}
	}
	.slides {
		margin:10px 0 40px;
		.item {
			img {
				width:100%;
			}
		}
		.circles {
			width: 114px;
			margin: 0 auto;
			span {
				border:1px solid #3a3a3a;
				height: 12px;
				width: 12px;
				float:left;
				margin-right:8px;
				@include border-radius(12px);
				&.active {
					background:#cdcdcd;
				}
				&:hover {
					cursor:pointer;
					background:#e5e5e5;
				}
			}
		}
	}
	.products {
		margin:70px 0 0;
		.product {
			img {
				text-align:center;
			}
			h4 {
				text-align:center;
				margin:12px 0 15px;
				a {
					color:#4a4a4a;
					font-weight:300;
					font-size:21px;
				}
			}
		}
	}
	.content {
		margin:16px 0 80px;
		position:relative;
		h1 {
			margin:30px 0 20px;
			font-size:32px;
			text-transform:capitalize;
		}
		h2 {
			margin:30px 0 20px;
			font-size:38px;
		}
		h4 {
			text-align:right;
			margin-top:20px;
			text-transform:capitalize;
			a {
				color:#555;
			}
		}
		p {
			font-size: 15px;
			line-height: 23px;
		}
		.back {
			//color:#4a4a4a;
			font-size: 14px;
			position: absolute;
			top: -15px;
			left: 0;
			&:active {
				top:-6px;
			}
		}
		.top-photo {
			//padding-top:10px;
		}
		.product-body {
			margin-top:20px;
			.photo {
				padding-bottom:20px;
				max-width: 650px;
				img {
					width:100%;
				}
				.thumbs {
					margin:11px 0 0 0;
					a {
						padding-bottom:6px;
						width: 18.4%;
						float: left;
						margin-left:2%;
						&:first-child {
							margin-left:0;
						}
					}
					a:hover {
						cursor:pointer;
						border-bottom:1px solid #d5d5d5;
					}
					a.active, a.active:hover {
						border-bottom:1px solid #929292;
					}
				}
			}
			.description {
				h1 {
					margin-top:0;
				}
			}
		}
		.error {
			text-align:center;
		}
	}
	.footer {
		border-top:1px solid #929292;
		padding:15px 0 80px;
		.menu-bottom {
			.nav {
				border:none;
				a {
					color:#4a4a4a;
					font-size:15px;
					text-transform:uppercase;
					padding-top:2px;
					&:first-child {
						padding-left:5px;
					}
					&:hover {
						background:#f5f5f5;
						border:none;
						padding:3px 13px 8px 6px;
						text-decoration:underline;
						color:#000;
					}
				}	
			}	
		}
		.info {
			padding-top:5px;
			//padding-left:50px;
			position:relative;
			a {
				color:#666;
			}
			.social {
				position: absolute;
				left: -4px;
				bottom:-30px;
				float:left;
				a {
					border:1px solid #3a3a3a;
					padding:1px 4px 5px;
					height: 16px;
					width: 16px;
					float:right;
					margin-left:6px;
					@include border-radius(12px);
					&:hover {
						background:#eaeaea;
					}
					&:active {
						position:relative;
						top:1px;
					}
					img {
						position: relative;
						top: -2px;
					}
				}
			}
		}
	}
	.copyright {
		text-align:center;
		color:#777;
		font-size:14px;
		span {
			font-size:18px;
		}
	}
}

.logo-img {
	width:96px;
	height:96px;
}

.loading {
	text-align: center;
	width: 96px;
	margin: 15% auto 0;
	p {
		margin-top:15px;
	}
}

.tooltip {
	font-family:'Helvetica','Arial',sans-serif;
	letter-spacing:0;
	@include text-shadow(none);
	.tooltip-inner {

	}
	.tooltip-arrow {
		border-bottom-color:#1e1e1e;
	}
}

.under {
	text-decoration:underline;
}

//responsive

@media (min-width: 1201px) { 
	
	.app {
		width:1000px;
	}
	
}

@media (min-width: 980px) and (max-width: 1200px) { 
	
	.app {
		width:900px;
	}
	address {
		font-size:13px;
	}
	
}
 
@media (min-width: 768px) and (max-width: 979px) { 
	
	.app {
		width:90%;
	}
	address {
		font-size:13px;
	}
	
}
 
@media (max-width: 767px) { 
	
	.app {
		width:99%;
		.header {
			div.title {
				a {
					margin-top:0;
					img.logo-img {
						width: 80px;
						height: 80px;
					}
				}
				h1 {
					font-size:28px;
				}
				h3 {
					font-size:18px;
				}
			}
			.social {
				display:none;
			}
		}
		.content {
			.slides {
				margin-top:15px;
			}
			.products {
				margin:40px 0 15px;
				.product {
					margin: 0 auto 50px;
					width: 365px;
				}
			}
			.product-body {
				.photo {
					.thumbs {
						a {
							margin-left:8px;
							&:first-child {
								margin-left:0;
							}
						}
					}
				}
				.description {

				}
			}
		}
		.footer {
			.info {
				padding-left:5px;
				.social {
					left: 0px;
					bottom: -55px;
				}
			}
		}
	}
	
}
 
@media (max-width: 480px) { 
	
	.app {
		width:100%;
		.header {
			margin-top:20px;
			div.title {
				a {
					margin-top:0;
					img.logo-img {
						width: 80px;
						height: 80px;
					}
				}
				h1 {
					font-size:28px;
				}
				h3 {
					display:none;
				}
			}
			.social {
				display:none;
			}
			.menu {
				.nav a {
					font-size:15px;
				}
			}
		}
		.content {
			.slides {
				margin-top:15px;
			}
			.products {
				margin:40px 0 15px;
				.product {
					margin: 0 auto 40px;
					width: 100%;
				}
			}
			.product-body {
				.photo {
					.thumbs {
						a {
							margin-left:6px;
							&:first-child {
								margin-left:0;
							}
						}
					}
				}
				.description {

				}
			}
		}
		.footer {
			.info {
				padding-left:5px;
				.social {
					left: 0px;
					bottom: -55px;
				}
			}
		}
	}
	
}
