@import "compass/css3";
@import "compass/utilities";
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,200);

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:300;
	letter-spacing:1.2px;
	background:#f5f5f5;
}

.app {
	margin:0 auto;
	.header {
		margin:50px 0 35px;
		position:relative;
		.title {
			text-transform:uppercase;
			a {
				float:left;
				margin:0 20px 0 0;
			}
			h1 {
				font-weight:300;
				color:#232323;
				font-size:38px;
				margin-bottom:0;
				margin-top:10px;
			}
			h3 {
				font-weight:200;
				color:#4d4d4d;
				font-size:22px;
				margin-top:2px;
			}
		}
		.social {
			min-width:117px;
			position: absolute;
			right: 0;
			bottom:0;
			a {
				border:1px solid #3a3a3a;
				padding:1px 4px 5px;
				height: 16px;
				width: 16px;
				float:right;
				margin-left:3px;
				@include border-radius(12px);
				&:hover {
					background:#eaeaea;
				}
				&:active {
					position:relative;
					top:1px;
				}
				img {
					position: relative;
					top: -2px;
				}
			}
		}
	}
	.menu {
		border-top:1px solid #929292;
		.nav {
			border:none;
			a {
				color:#4a4a4a;
				font-size:17px;
				text-transform:uppercase;
				&:hover {
					background:#f5f5f5;
					border:none;
					padding:9px 13px 8px;
					text-decoration:underline;
					color:#000;
				}
			}
		}
	}
	.slides {
		margin:30px 0 40px;
		.item {
			img {
				width:100%;
				max-height:450px;
			}
		}
		.circles {
			width: 66px;
			margin: 0 auto;
			span {
				border:1px solid #3a3a3a;
				height: 12px;
				width: 12px;
				float:left;
				margin-right:8px;
				@include border-radius(12px);
				&.active {
					background:#cdcdcd;
				}
				&:hover {
					cursor:pointer;
					background:#e5e5e5;
				}
			}
		}
	}
	.products {
		margin:85px 0 75px;
		.product {
			img {
				text-align:center;
			}
			h4 {
				text-align:center;
				margin:12px 0 15px;
				a {
					color:#4a4a4a;
					font-weight:300;
					font-size:21px;
				}
			}
		}
	}
	.footer {
		border-top:1px solid #929292;
		padding:10px 0 80px;
		.menu-bottom {
			.nav {
				border:none;
				a {
					color:#4a4a4a;
					font-size:15px;
					text-transform:uppercase;
					padding-top:2px;
					&:first-child {
						padding-left:5px;
					}
					&:hover {
						background:#f5f5f5;
						border:none;
						padding:3px 13px 8px 6px;
						text-decoration:underline;
						color:#000;
					}
				}	
			}	
		}
		.info {
			padding-top:5px;
			padding-left:50px;
			position:relative;
			a {
				color:#666;
			}
			.social {
				min-width:117px;
				position: absolute;
				left: 46px;
				bottom:-30px;
				a {
					border:1px solid #3a3a3a;
					padding:1px 4px 5px;
					height: 16px;
					width: 16px;
					float:right;
					margin-left:3px;
					@include border-radius(12px);
					&:hover {
						background:#eaeaea;
					}
					&:active {
						position:relative;
						top:1px;
					}
					img {
						position: relative;
						top: -2px;
					}
				}
			}
		}
	}
	.copyright {
		text-align:center;
		color:#777;
		font-size:14px;
		span {
			font-size:18px;
		}
	}
}

.loading {
	position:absolute;
	top:26%;
	left:45%;
	text-align:center;
	p {
		margin-top:15px;
	}
}

.tooltip {
	font-family:'Helvetica','Arial',sans-serif;
	letter-spacing:0;
	.tooltip-inner {

	}
	.tooltip-arrow {
		border-bottom-color:#1e1e1e;
	}
}

.under {
	text-decoration:underline;
}

//responsive

@media (min-width: 1200px) { 
	
	.app {
		width:1160px;
	}
	
}
 
@media (min-width: 768px) and (max-width: 979px) { 
	
	.app {
		width:96%;
	}
	
}
 
@media (max-width: 767px) { 
	
	.app {
		width:100%;
		.header .title {
			h3 {
				font-size:14px;
			}
		}
		.header .social {
			bottom:-30px;
		}
	}
	
}
 
@media (max-width: 480px) { 
	
	.app {
		width:100%;
		.header .title {
			h3 {
				display:none;
			}
		}
		.header .social {
			bottom:-30px;
		}
	}
	
}
