<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The American Wood Company</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/loader.css">
        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
	
		<script type="text/template" id="loading-template">
			<div class="loading hide">
				<div class="logo">
					<img src="img/logo.png" class="logo-img" alt="the american wood company">
				</div>
				<p>Loading</p>
			</div>
		</script>
		<div class="loading-dad"></div>

		<div class="app container-fluid hide">
		
			<script type="text/template" id="header-template">
				<div class="header row-fluid">
					<div class="title span10">
						<a href="#/"><img src="img/logo.png" class="logo-img" alt="the american wood company"></a>
						<h1><%= title %></h1>
						<h3><%= tagline %></h3>
					</div>
					<div class="social span2">
						<a target="_blank" href="<%= tumblr %>" rel="tooltip" data-original-title="Tumblr"><img src="img/tu.png"></a>
						<a target="_blank" href="<%= pinterest %>" rel="tooltip" data-original-title="Pinterest"><img src="img/pi.png"></a>
						<a target="_blank" href="<%= twitter %>" rel="tooltip" data-original-title="Twitter"><img src="img/tw.png"></a>
						<a target="_blank" href="<%= facebook %>" rel="tooltip" data-original-title="Facebook"><img src="img/fb.png"></a>				
					</div>
				</div>
		
				<div class="menu row-fluid">
					<ul class="nav nav-tabs toggle">
					  <li><a href="#/about">About</a></li>
					  <li><a href="#/the-wood">The Wood</a></li>
					  <li><a href="#/contact">Contact</a></li>
					</ul>
				</div>
			</script>
			<div class="header-dad"></div>
			
			<div class="content row-fluid"></div>
			
			<script type="text/template" id="footer-template">
				<div class="footer row-fluid">
					<div class="menu-bottom span9">
						<ul class="nav nav-tabs">
						  <li><a href="#/about">About</a></li>
						  <li><a href="#/the-wood">The Wood</a></li>
						  <li><a href="#/contact">Contact</a></li>
						</ul>
					</div>
					<div class="info span3">
						<address>
							The American Wood Company<br>
							Los Angeles, California
						</address>
						<address>
							e: <a href="mailto:info@theamericanwoodcompany.com">info@theamericanwoodcompany.com</a><br>
							t: 860-575-3185
						</address>
						<div class="social">
							<a target="_blank" href="<%= tumblr %>" rel="tooltip" data-original-title="Tumblr"><img src="img/tu.png"></a>
							<a target="_blank" href="<%= pinterest %>" rel="tooltip" data-original-title="Pinterest"><img src="img/pi.png"></a>
							<a target="_blank" href="<%= twitter %>" rel="tooltip" data-original-title="Twitter"><img src="img/tw.png"></a>
							<a target="_blank" href="<%= facebook %>" rel="tooltip" data-original-title="Facebook"><img src="img/fb.png"></a>			
						</div>
					</div>
				</div>
			</script>
			<div class="footer-dad"></div>
	
		</div>

		
		<!-- start content views -->
		
			<script type="text/template" id="home-template">
				<div class="slides row-fluid">
					<div class="carousel slide">
						<div class="carousel-inner">
							<%  slides.forEach(function(slide) { %>
								<div class="item">
									<img src="<%= slide.attributes.image.url %>" alt="">
								</div>
							<% }); %>
						</div>
					</div>
					<div class="circles">
						<%  slides.forEach(function(slide) { %>
							<span></span>
						<% }); %>
					</div>
				</div>
				<div class="products row-fluid">
					<div class="product span4">
						<a href="#/red-oak"><img src="img/item-1.png" alt=""></a>
						<h4><a href="#/red-oak">Red Oak</a></h4>
					</div>
					<div class="product span4">
						<a href="#/olive"><img src="img/item-2.png" alt=""></a>
						<h4><a href="#/olive">Olive</a></h4>
					</div>
					<div class="product span4">
						<a href="#/almond"><img src="img/item-3.png" alt=""></a>
						<h4><a href="#/almond">Almond</a></h4>
					</div>
				</div>
			</script>
			
			<script type="text/template" id="page-template">
				<a href="#/" class="back toggle">&larr; Back</a>
				<h1><%= title %></h1>
				<%= body %>
			</script>
			
			<script type="text/template" id="product-template">
				<a href="#/" class="back toggle">&larr; Back</a>
				<h1><%= title %></h1>
				<%= body %>
			</script>
			
			<script type="text/template" id="slide-template">
				<div class="item active">
					<img src="<%= src %>" alt="">
				</div>
			</script>
			
			<script type="text/template" id="error-template">
				<div class="loading">
					<div class="logo">
						<img src="img/logo.png" class="logo-img" alt="the american wood company">
					</div>
					<h3><%= title %></h3>
					<p><%= message %><p>
				</div>
			</script>
			
		
		<!-- end content views -->
	

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
		<script src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

		<script src="js/views.js"></script>  
		<script src="js/tawc.js"></script>        
		<script src="js/plugins.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
